* {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
}


html,body {
background-color: #fff;
font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
color:#303030;
padding: 0;
margin:0;
font-weight: 400;
height: 100%;
font-size: 14px;
}

body{
	border-top:6px solid #303030;
}

h1{
	font-size:140%;
	font-weight:400;
	line-height:130%;
	padding-bottom:2px;
	color:#303030;
}


h2{
	font-size:100%;
	font-weight:400;
	font-family:  "Helvetica Neue", Helvetica, sans-serif;
	padding-bottom:3px;
	color:#303030;
}

h3{
	font-size:100%;
	font-weight:400;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	padding-bottom:3px;
	color:#303030;
}

h4{
	font-size:95%;
	font-weight:700;
	font-family:  "Helvetica Neue", Helvetica, sans-serif;
	padding-bottom:3px;
	color:#d53c2e;
}




/*----------------------Container-------------------------*/

#container{
	margin: 0 auto;
	padding-top:50px;
	/*min-width: 1040px;*/
	height:auto;
	/*position:absolute;*/
	/*border-top:6px solid #303030;*/
	width:960px;
	border: 1px solid #000;
}




/*----------------------Header----------------------------*/

#header{
	margin-left:0px;
	margin-top:20px;
	width:300px;
/*	padding:0;*/
	position:relative;
	float:left;
	border: 1px solid #000;
}

#header a{
	color:#a0a0a0;
	text-decoration:none;
}

#header a:hover{
	color:#303030;
}


/*---------------------Navigation menu----------------------*/

#nav{
	width:300px;
	font-size:100%;
	margin-top:25px;
	margin-left:450px;
	height:60px;
	border: 1px solid #000;
	
}

#nav ul{
	display:block;
	line-height:130%;
	margin-top:0;
}

#nav ul li{
	display: block;
	float:left;
	width:auto;
	color:#a0a0a0;
	font-weight:400;
	padding-top:0;
	padding-right:25px;
}


#nav a{
	text-decoration:none;
	color:#a0a0a0;
	font-weight:400;
}

#nav a:hover{
	background-color:#FFFF00;
}

#nav .current{
	color:#303030;
}

#nav a.current:hover{
	background-color:#FFF;
}


/*----------------------Sidebar---------------------------*/

#sidebar{
	clear:both;
	margin-left:150px;
	padding-top:10px;
	width:300px;
	float:left;
	color:#a0a0a0;
	line-height:135%;
	margin-top:30px;
	display: none;
}

#sidebar a{
	color:#a0a0a0;
	text-decoration:none;
}

#sidebar a:hover{
	color:#303030;
}


/*----------------------Main panel------------------------*/

#main{
	margin-left:0px;
	width:540px;
	padding-top:10px;
	padding-bottom:50px;
	padding-right:50px;
	margin-top:30px;
	line-height:130%;
	font-size: 115%;
	text-rendering:optimizeLegibility;
	color:#555555;
}

#main a{
	color:#000;
	text-decoration:none;
	/*border-bottom:1px solid transparent;*/
}

#main a:hover{
	/*color:#d53c2e;*/
	background-color:#FFFF00;
	/*border-bottom:1px dotted #373B3D;*/
}


/*---------------------Misc-----------------------------*/

.tighter{
	letter-spacing:.09em;
}

.tight{
	word-spacing:-.15em;
}

/*.footnotes { 
    margin-top: 10px;
	padding-top:5px;
	border-top:1px solid #e0e0e0;
	width:90%;
    font-size:85%;
	line-height:120%;
	color:#a0a0a0;
}
.footnotes hr { margin-bottom: 1em; }

div.footnotes a{
	color:#303030 !important;
	border-bottom:none !important;
}

div.footnotes a:hover{
	border-bottom:1px dotted #303030;
}

.footnotes a[rev=footnote] { text-decoration: none;}

*/
/*
body#home a#homenav,
body#work a#worknav,
body#vita a#vitanav,
body#courses a#coursesnav {
color: #fff;
}*/