* {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
}


html,body {
background-color: #fff;
font-family: Arial, sans-serif;
color:#616569;
padding: 0;
margin:0;
height: 100%;
font-size: 12px;
}

h1{
	font-size:120%;
	font-weight:bold;
	line-height:130%;
	padding-bottom:2px;
	color:#616569;
}


h2{
	font-size:100%;
	font-weight:bold;
	font-family:"Helvetica Neue", Helvetica, sans-serif;
	padding-bottom:3px;
	color:#616569;
}




/*----------------------Container-------------------------*/

#container{
	margin-left:0px;
	margin-top:0;
	height:100%;
	position:absolute;
	border-top:6px solid #616569;
	width:100%;
}




/*----------------------Header----------------------------*/

#header{
	margin-left:100px;
	margin-top:20px;
	width:180px;
/*	padding:0px;*/
	position:relative;
/*	float:left;*/
}

#header a{
	color:#a0a0a0;
	text-decoration:none;
}

#header a:hover{
	color:#616569;
}

/*----------------------Sidebar---------------------------*/

#sidebar{
/*	clear:both;*/
	margin-left:100px;
	padding-top:10px;
	width:200px;
	float:left;
	color:#a0a0a0;
	line-height:130%;
	margin-top:80px;
	border-top:1px solid #e0e0e0;
}

#sidebar a{
	color:#a0a0a0;
	text-decoration:none;
}

#sidebar a:hover{
	color:#616569;
}

/*----------------------Main panel------------------------*/

#main{
	margin-left:350px;
	width:465px;
	padding-top:10px;
	margin-top:80px;
	line-height:130%;
	font-size: 110%;
	border-top:1px solid #e0e0e0;
	text-rendering:optimizeLegibility;
}

#main a{
	color:#000;
	text-decoration:none;
}

#main a:hover{
	text-decoration:underline;
}


/*---------------------Misc-----------------------------*/

.tighter{
	letter-spacing:.09em;
}

.tight{
	word-spacing:-.15em;
}